.flash {
  height: 500px;
  width: 300px;
  background: rgb(158, 157, 157);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
}

.button {
  width: 85px;
  height: 40px;
  font-size: 30px;
  border-radius: 10px;
  border: solid 1px;
  margin: 5px 2px;
 
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 250px;
  width: 200px;
  margin-top: 135px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.num {
  text-align: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 55px;
  font-size: 53px;
  color: rgb(27, 98, 107);

}